{% extends "portfolio_base.html" %}
	{% block title%}Add New Transaction{% endblock %}
	{% block content %}
	<!--ABOUT-->
	  <div class="row g-0 text-center" style="background-color: #00072D;">
		<div class="col-6">
		  <div class="container shadow-5-strong py-3">
			<h2 class="display-3 text-center text-light">About <strong>Me</strong></h2>
		  </div>
		  <img
		  src="https://mdbootstrap.com/img/new/standard/city/047.jpg"
		  class="img-fluid circle p-5"
		  alt=""
		  />
		  <h1 class="display-5 pt-5">Daniel Warren</h1>
		  <p class="pt-5 text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>
			incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>
			exercitation ullamco laboris nisi u</p>

			<button type="button" class="btn btn-light btn-rounded">Secondary</button>
		</div>
		<div class="col-6">
		  <img  src="./img/banner4.jpg" class="img-fluid" alt="..." />
		</div>
	  </div>
	  <!--END ABOUT-->
	{% endblock %}