{% extends "portfolio_base.html" %}
{% block title %}DW | @dnlwrnDEV | blog{% endblock %}
{% block content %}
	  <!--PROJECTS-->

    <div class="shadow-5-strong bg-light">
      <h2 style="color: #00072D;" class="display-4 text-center py-5">Blog <strong>Posts</strong></h2>

        <div class="row p-5">
            <div class="col-2">
                <p>hi</p>
            </div>
            <div style="background-color: #00072D;" class="col-8 rounded">
                <div class="row row-cols-1 row-cols-md-1 g-3 p-5 overflow-hidden">

                    {% for post in posts %}
                        {% include 'portfolio/blog_post.html' %}
                    {% endfor %}

              </div>
            </div>
            <div class="col-2">
                <p>hi</p>
            </div>
        </div>



    </div>

  <!--END PROJECTS-->
{% endblock %}