{% extends "portfolio_base.html" %}

{% block title %}Daniel Warren | Welcome {% endblock %}
{% block content %}
  <!--HOME-->
    <div class="bg-image p-5 text-start text-white"
    style="background-image: url('../../static/img/banner1.jpg'); height: 90vh;">
        <div>
            <h1 class="mb-3 h4 text-start py-3">Hello, my name is</h1>
            <h1  class="display-1 text-start text-bold"><strong><b>Daniel Warren</b></strong></h1>
            <p class="text-start h4 py-3">A Software Developer & Digital Marketing Specialist </p>

            <div class= "p-2 text-start">
                <!-- Github -->
                <a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button"
                  ><i class="fab fa-github"></i
                ></a>
                <!-- Twitter -->
                <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
                  ><i class="fab fa-twitter"></i
                ></a>
                <!-- Linkedin -->
                <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
            </div>

            <p class="text-start py-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut<br>
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br>
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate<br>
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,<br>
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
  <!--END HOME-->
{% endblock %}
