{% load static %}
          <div class="card h-100">


            <div style= "background-color: #37352f" class="card-body text-center btm-rounded shadow-2-strong p-0 rounded">
              <image
                        src = "../../static/img/banner1.jpg"
                        class = "img-fluid shadow-2-strong p-0 rounded"
                        alt = "Project Image Card">
              </image>

              <div style= "background-color: #00072D" class="p-4">
                <h5 class="card-title text-light m-0">Ecommerce Website</h5>
                <p class="card-text text-light">
                  Dynamic eCommerce with CC Validation, User Accounts, and More.
                </p>

                <!-- Button trigger modal -->
                <button
                type="button"
                style="background-color: #4d4a42"
                class="btn btn-primary text-light btn-rounded hover-overlay"
                data-mdb-toggle="modal"
                data-mdb-target="#one"
                >
                View Project
                </button>
              </div>


              <!-- Modal -->
              <div
              class="modal fade"
              id="one"
              tabindex="-1"
              aria-labelledby="one"
              aria-hidden="true"
              >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="one">eCommerce Site Project</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-mdb-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">

                    <!--inner modal-->
                    <div class="row p-1">
                      <div class="col-4">
                        <img
                          src="./img/icons/blackSite.png"
                          class="img-thumbnail"
                          alt="..."
                        />
                      </div>
                      <div class="col-4">
                        <img
                          src="./img/icons/blackSite.png"
                          class="img-thumbnail"
                          alt="..."
                        />
                      </div>
                      <div class="col-4">
                        <img
                          src="./img/icons/blackSite.png"
                          class="img-thumbnail"
                          alt="..."
                        />
                      </div>
                    </div>
                    <div class="row py-2">
                      <div class="col-6">
                        <h3 class="h3 text-start"> Features: </h3>
                      </div>
                      <div class="col-6">
                        <h3 class="h3 text-start">Skills Used: </h3>
                      </div>
                    </div>

                    <div class="row py-2">
                      <div class="col-sm-6 text-start ps-5 ">
                        <li>User Login/Logout</li>
                        <li>Shopping Cart</li>
                        <li>CC Validation</li>
                      </div>

                      <div class="col-sm-6 text-start ps-5 ">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                      </div>
                    </div>

                    <div class="row py-2">
                      <div class="col-12">
                        <h3 class="h3 text-start">Description:</h3>
                      </div>
                      <div class="col-sm-12">
                        <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                    <!--end inner modal-->

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success">Live Demo</button>
                    <button type="button" class="btn btn-primary">View on GitHub</button>
                  </div>

                </div>
              </div>
              </div>

              <div class="p-3 shadow-2-strong">
                <span style="background-color: #4d4a42" class="badge rounded-pill text-light">HTML</span>
                <span style="background-color: #4d4a42" class="badge rounded-pill text-light">CSS</span>
                <span style="background-color: #4d4a42" class="badge rounded-pill text-light">JS</span>
                <span style="background-color: #4d4a42" class="badge rounded-pill text-light">PHP</span>
              </div>
            </div>
          </div>
